$darkest-color: {{ .Site.Params.style.darkestColor | default "#242930" }};
$dark-color: {{ .Site.Params.style.darkColor | default "#353b43" }};
$light-color: {{ .Site.Params.style.lightColor | default "#afbac4" }};
$lightest-color: {{ .Site.Params.style.lightestColor | default "#ffffff" }};
$primary-color: {{ .Site.Params.style.primaryColor | default "#57cc8a" }};
$code-color-names: {{ .Site.Params.style.codeNames }};
$code-color-literals: {{ .Site.Params.style.codeLiterals }};
$code-color-builtins: {{ .Site.Params.style.codeBuiltins }};
$code-color-keywords: {{ .Site.Params.style.codeKeywords }};
$code-color-comments: {{ .Site.Params.style.codeComments }};
$code-color-anything-else: $primary-color;
$avatar-bottom-offset: {{ .Site.Params.style.avatarBottomOffset | default 0 }};
$avatar-left-offset: {{ .Site.Params.style.avatarLeftOffset | default 0 }};
$break-width: 48em;
$big-break-width: 135em;
$desktop-sidebar-width: 12em;

@import 'base';
@import 'normalize';

@import 'components/code';
@import 'components/container';
@import 'components/header';
@import 'components/list';
@import 'components/post';
